body {
    margin: 0;
    font-family: 'Muli', sans-serif;
    background: #8f57fd;
  }
  
  .header {
    align-items: center;
    background: #8f57fd;
    color: white;
    display: flex;
    height: 100px;
    justify-content: space-between;
    top: 0px;
    width: 100%;
  }
  
  .header__img {
    margin-left: 30px;
    width: 200px;
  }
  
    .imagen{

    align-items: center;
    display: block;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-left: 25%;
  }
    .categoria {

    font-size: 25px;
    position: absolute;
    padding-left: 18%;
    width: 100%;
  
  }
  
  .footer {
    align-items: center;
    background-color: #8f57fd;
    display: flex;
    height: 180px;
    width: 100%;
  }
  
  .footer a {
    color: white;
    cursor: pointer;
    font-size: 14px;
    padding-left: 30px;
    text-decoration: none;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  
  
  
  